.NavBar {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #17202a;
}

.NavBar > .nav-logo {
    font-weight: 700;
    font-size: 21px;
    margin: 15px;
    color: #fff;
}

.NavBar > .nav-items > a {
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    margin: 15px;
}
